<!-- input text data for address -->
<div class=" buttons col-lg-8">
  <p><input type="text" id="address">Address</p>
</div>

<!-- clickable button for address -->
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
    <span class="input-group-btn"><button class="btn btn-default" type="button" id="addresses">Search</button></span>
    </div>
  </div>
</div>