  <!-- Welcome Modal for new users -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
          <h3 class="modal-title">WELCOME TO BUZZR</h3>
        </div>
        <div class="modal-body">
          <h4>
          <p>Have you arrived in a new city and want to know what is trending near your accommodation?</p>
          <p>Just wanted to know what was happening around your home town?</p>
          <p>Simply enter your location and BUZZR will show you the 'hives' of activity and interest closest to you!</p>
          </h4>
        </div>
        <div class="modal-footer">
          <a type="button" id="label_font" href="<%=new_user_path %>" class="btn btn-default btn-block" >SIGN UP</a>
          <a type="button" id="label_font" href="<%=login_path %>"class="btn btn-default btn-block">LOGIN</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div id="container1">
  <div id="map_canvass"></div>
</div>
