<!-- logo image -->
<div class="logo col-lg-8">
<!-- <img src="/bee_logo.jpg" class="img-responsive" alt="Reponsive image"> -->
<!-- HELP: LOGO NOT LOADING -->
</div>
<!-- Brand heading and motto-->
<div class="col-lg-8">
<h1>BUZZR.info</h1>
<h3>Tap into hives that are buzzing.</h3>
</div>
<!-- Responsive Input Form -->
<div class="form-group">
  <div class="col-lg-8"><input type="text" class="form-control" placeholder="Email address"></div>
  <div class="col-lg-8"><input type="text" class="form-control" placeholder="First Name"></div>
  <div class="col-lg-8"><input type="text" class="form-control" placeholder="Surname"></div>
</div>
<!-- Responsive Buttons-->
<div class=" buttons col-lg-8">
  <p>
    <button type="button" class="btn btn-primary btn-large ">Register</button>
    <button type="button" class="btn btn-primary btn-large ">Sign In</button>
  </p>
</div>