  <!-- Welcome Modal for new users -->
  <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">WELCOME TO BUZZR.info</h3>
        </div>
        <div class="modal-body">
          <h4>
          <p>Just arrived in a new city?</p>
          <p>Looking for trending bars and cafes?</p>
          <p>BUZZR connects you with 'hives' of social media activity buzzing nearby.</p>
          </h4>
        </div>
        <div class="modal-footer">
          <a type="button" id="label_font" href="<%=new_user_path %>" class="btn btn-default btn-block" >SIGN UP</a>
          <a type="button" id="label_font" href="<%=login_path %>"class="btn btn-default btn-block">LOGIN</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


<!--Map Container and Canvas-->

  <div id="container1">
  <div id="map_canvass"></div>
</div>