<div id="container">
  <div id="map_canvas">
  </div>
  <%= form_tag locations_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search], :placeholder=> "Type Location" %>
      <%= submit_tag "Search Near", :name => nil %>
    </p>
   <% end %>
</div>