
body {
  margin: 0;
}

#map_canvas {
  height: 700px;
  width: 100%;
}

#container {
  position: relative;
}

form {
  position: absolute;
  top: 1px;
  left: 80px;
  font-size: 110%;

}

#search {

  font-size: 110%;

}

