/* UNIVERSAL COLOURS */

$orange: #E13E06;
$green: #2ECC71;
$blue: #4099FF;
$darkpink: #D9014F;
$mould: #A9AB19;
$white: #fff;
$red: #FF0000;
$yellow: #EFAE1B;
$pink: #EE3246;
$lightpink: #E86275;
$black: #000;

/*--------NAVBAR STYLINGS*/
.navbar {
  background-color: #381B07;
  background: url('/assets/bee_bg.jpg')repeat;
  color: #381B07;
  height: auto;
  z-index: 1;
  display: block;
  border: solid #381B07;
}

.navbar-text pull-right {
  font-size: 20%;
}

.navbar-brand {
  color: #381B07;
  font-size: 250%;
  float: middle;
}

.form-control col-lg-10 {
  color: #381B07;
  border: 1px solid #381B07;
}

.navbar-toggle .icon-bar {
  border: 1px solid #381B07;
  background-color: #aaa;
  }

.navbar-toggle {
  border: 1px solid #381B07;
  }

.navbar-form {
  position: relative;
}

/*----------------------*/

/*--------Modal STYLINGS*/

.modal-header, .modal-footer {
  color: #EFAE1B;
  background-color: #381B07;
  margin: 0;
  text-align: center;
  border: none;
}

.modal-body {
  background-color: #EFAE1B;
  border: none;
}

/*----------------------*/

h1, h4 {
 color: #381B07;
 text-align: center;
}

.btn {
 color: #381B07;
}

#map_canvass {
  height: 550px !important;
  max-width: 100%;
}

.address_form {
  display: inline-block;
}

body {
  margin: 0;
}

#container {
  position: relative;
}

map_form {
  position: absolute;
  top: 1px;
  left: 80px;
  font-size: 110%;
}

#search {
  font-size: 110%;
}

.new_user {
  margin-left: 30px;
}

.new_user input {
  display: block;
}

.row {
  margin-left: 15 px;
}

