<!-- Modal for list of markers -->
 <div class="modal fade" id="images_list_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <h3 class="modal-title">Search Results</h3>
        </div>
        <div class="modal-body">
          <!-- <h1>LISTY</h1> -->
          <ul id="images_listrender"></ul>
        </div>
        <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal