<!-- Modal for list of markers -->
 <div class="modal fade" id="images_list">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">List of image results</h3>
        </div>
        <div class="modal-body">
          <!-- <h1>LISTY</h1> -->
          <ul id="marker_name"></ul>
        </div>
        <div class="modal-footer">
          append partial for instagram data here
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal