  <!-- popup modal with detailed info on marker -->
  <div class="modal fade" id="image_result">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
          <h4 class="modal-title">
<!-- insta_render.js will append modal caption here -->
          </h4>
        </div>
        <div class="modal-body">
          <img>
<!-- insta_render.js will append image src here-->
        </div>
        <div class="modal-footer">
          <p></p>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->