  <!-- Modal with detailed info on marker -->
  <div class="modal fade" id="image_result">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>
        <!-- images_plot.js will append image title caption here -->
          </h4>
        </div>
        <div class="modal-body">
          <img>
        <!-- images_plot.js will append image src here-->
        </div>
        <div class="modal-footer">
          <p>
            <!-- images_plot.js will append image text src here-->
          </p>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->