<div class="navbar">
  <div class="nav-container">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="/">BUZZR</a>

    <div class="nav-collapse collapse navbar-responsive-collapse">

        <form class="navbar-form pull-left" action>
          <input type="text" class="form-control col-lg-10" placeholder="Type in a location"></form>
          <span class="glyphicon glyphicon-search"></span>

        <p class="navbar-text pull-right">&copy; You pay lentils...</p>

    </div>
  </div>
 </div>
